/* box size everything based on the border */
* {
    box-sizing: border-box;
}

/* Size the main content area */
body {
    background-image: url('../images/bgimg.jpg');
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
    color: #777777;
    position: relative;
}

#bio {
    float:right;
}
h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Line the header up */
h1 {
    display: inline;
}

/*Set font for the headings*/
h2 {
    color: #4aaaa5;
    background: #fff;
    font-size: 28px;
}

/*Set style for header section*/
header {
    background-color: #ffffff;
    border-bottom: 2px solid #ccc;
    margin-bottom: 25px;
}
 #aboutme{
     background: #ffffff;
     padding: 25px;
     border: 2px solid #ccc;
 }

 #bio {
    width: 60%;
    float: right;
    text-indent: 25px;
 }
/* Set font and coloring for header section */
 header h1 {
    background: #4aaaa5;
    color: #ffffff;
    display: inline-block;
    padding: 25px;
    font-size: 28px;
}

/*Set font for main writing and nav bar*/
p {
    color: #777777;
    background-color: #ffffff;
}
/* Remove bullets from list that makes up nav header */
nav ul li {
    display: inline;
    list-style-type: none
}

nav ul li:last-child a {
    border-right: none;
    padding-right: none
}
 nav a {
     color: #777777;
     font-size: 18px;
     padding: 5 20px;
     border-right: 2px solid;
     text-decoration: none;
 }
/* Display links in top right as nav header */
nav {
    width: 300px;
    float: right;
    margin-top: 40px;
    text-align: center;
}


/* Style the form submission THANK YOU W3 Schools*/
#input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    outline: none;
}

/* Specific to the message portion of the form */
#messageinput {
    width: 100%;
    height: 100px;
    padding: 0;
    box-sizing: border-box;
    resize: none;
    outline: none;
}

/* Customize the submit button https://www.jotform.com/help/118-How-to-Customize-the-Submit-Button-with-CSS */
#submitform {
    background: #4aaaa5;
    color: white;
    border-style: outset;
    border-color: #4aaaa5;
    height: 50px;
    width: 100px;
    font: bold 15px arial, sans-serif;
    text-shadow:none;
}

/* container positioning for portfolio photos thanks for the nudge TA Patrick */
.container {
    position: relative;
    width: 43%;
    float: left;
}

/* Place text box over portfolio pictures thanks for the nudge TA Patrick*/
.portfoliotag {
    position: absolute;
    left: 0;
    bottom: 34px;
    background: #4aaaa5;
    color: #ffffff;
    width: 96%;
    height: 35px;
    padding-top: 14px;
    margin-left: 5px;
    text-align: center;
}

/*Set the sticky footer to the bottom of the page*/
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: #666666;
    color: #ffffff;
    text-align: center;
    border-top: 8px solid #4aaaa5;
}

.content {
    width: 960px;
    margin: 0 auto;
}